  /* Our Packages */
  .highlight {
    background-color: #3f87f5;
    border-radius: 15px;
    box-shadow: 6px 20px 16px #82b3fd;
    position: relative;
  }
  .hot-selling{
    position: absolute;
    margin-left: 144px;
    margin-top: -62px;
    background-color: #ff4e4e;
  }